.progressCard {
  width: 145px;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
  border-radius: 15px;
  margin-left: 15px;
  padding: 15px;
  align-items: center;
  
}

/* progressCard.css */
/* progressCard.css */


.progressCard p {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  overflow: hidden; /* Hide any overflowing text */
  max-width: 100%; /* Ensure the text does not exceed the width of the container */
}

.progressCard .CircularProgressbar-path { /* Change this to the desired color */
stroke-linecap: round;
transition: stroke-dashoffset 3s ease 0s;
}

.progressCard .CircularProgressbar-text {
fill: #333; /* Adjust text color if needed */
font-size: 23px;
font-weight: 500;
margin-right: 20px;
}