.fees {
    margin-top: 85px;
    text-align: left;
     margin-left: -440px;
     height: 88.3%;
     width: 61vw;
     overflow-y: auto;
  }
.fees::-webkit-scrollbar {
    display: none;
  }
.fees h1{
  padding-left: 14px;
  font-size: 20px;
}
