.receipt{
margin-top: 70px;
margin-left: -500px;
font-size: 22px;
font-weight: 400;
box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
 }
.pay-section{
    width: 95%;
    height: 87%;
    border-radius: 10px;
    background-color: aliceblue;
    margin-top: 20px;
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
}
.pay-section img{
    margin-top: 18px;
    padding-left: 20px;
    width: 35px;
    height: 40px;
}
.pay-section span{
    margin-left: 26%;
    margin-top: -15px;
    color: rgb(2, 2, 2);
}
.address{
    text-align: center;
    font-size: 13px;
    margin-left: 13px;
    margin-top: -4px;
}
.divided{
    text-align: center;
    font-size: 15px;
    outline: auto gray;
    margin-top: 15px;
    
 
}
.student-info {
    
    display: flex;
    padding: 10px;
    outline: auto;
  
    
    
}
.student-info p{
    margin-right: 120px;
     margin-left: 25px;
     font-size: 15px;
     
}
.total {
  text-align: center;
    justify-content: space-between;
    outline: auto gray;
    font-size: 15px;
    margin-top: -10px;
    font-weight: 500px;
    


  

}
.payment{
    top: 20px;
    font-size: 15px;
    font-weight: 400;
    margin-top: -15px;
    padding-left: 10px;
}