.PieChart{
    width: 200px;
    height: fit-content;
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 15px;
}
.legends{
    display: flex;
    justify-content: space-between;
}

.legend{
    text-align: center;
}