/* .cantainer{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
  */

  .cantainer {
    width: 100%;
    height: 132.5vh;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 2fr; /* Adjust column widths */
    grid-template-rows: auto; /* Adjust row height if needed */
    gap: 10px; /* Adjust gap between grid items if needed */
    border-radius: 15px;
  }
  .cantainer::-webkit-scrollbar {
    display: none;
  }
