.question{
    width: fit-content;
    margin-top: 30px;
}
.content {
    display: flex;
    white-space: nowrap;
    width: fit-content;
    border-bottom: 2px solid  gray; /* Change this to your desired color */
    padding-bottom: 10px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  .quiz-section h2{
    font-weight: 600;
    text-align: center;
    padding-left: 20px;
  }
.quiz-section p{
   font-size: 16px;
   padding-left: 10px;
   text-align: center;
   padding-right: 10px;
   word-wrap: break-word;
}
.options  {
    margin-top: 30px;
    padding-left: 20px;
    
}


.options h5{
    background-color: rgb(246, 225, 199);
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
    width: 50%;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 10px;
    transition: all  5s ease-in;
    justify-content:space-between;
}

 .options .first{
    background-color: rgb(216, 223, 229);
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
 }
 .options .second{
    background-color: rgb(49, 122, 49);
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
 }
 .options .third{
    background-color: rgb(247, 88, 67);
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
 }
 .options .fourth{
    background-color: rgb(196, 200, 203);
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
 }
