.profileCard{
    display: flex;
    width: auto;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    height: auto;
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
    border-radius: 15px;
    background-color: white;
    padding: 15px;
}
.profileCard img{
    width: 80px;
    height: 80px;
}

.profileCard .details{
    margin-left: 15px;
}

.details h5{
    color: grey;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 5px;
}
.details h3{
    margin-top: 0px;
    margin-bottom: 5px;
}

.details p{
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px;
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
    border-radius: 15px;
    background-color: darkseagreen;
    
}

.notification {
    margin-left: auto;
    position: relative;
    text-align: center;
}

.notification img{
    display: block;
  max-width: 100%;
  height: auto;
}
.notification .badge {
    position: absolute; /* Set position to absolute */
     /* Adjust right position to position the badge */
    background-color: red; /* Add background color */
    
    left: 40px;
    bottom: 20px;
    text-align: center;
    color: white; /* Add text color */
     /* Add padding to the badge */
    border-radius: 50%; /* Make it circular */
    padding: 5px;
    font-size: 12px; /* Adjust font size */
  }