.submittedAssignment {
    display: flex;
    flex-direction: column; /* To stack elements vertically */
    justify-content: space-between; /* Align children vertically with space between */
    height: auto;
    padding: 15px;
    background-color: wheat;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
}
.subjectTag{/* Align children vertically with space between */
    height: auto;
    width: min-content;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
}



.submittedAssignment p{
    display: flex;
    justify-content: space-between; /* Spread content evenly */
    
}
