.SubjectProgress{
    flex: 1;
    height: 310px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: rgba(60, 203, 201, 0.3);
    margin-right: 15px;
    box-shadow: 0 10px 14px rgba(3, 3, 3, 0.1);
    border-radius: 15px;
    padding: 10px;
    overflow: auto;
}

.SubjectProgress::-webkit-scrollbar {
    display: none;
  }